@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
.button-text-mix {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.5;
  text-transform: uppercase;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #212121;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main-container {
  padding-top: 45px;
  padding-right: 15px;
  padding-bottom: 45px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
