@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
.button-text-mix {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.5;
  text-transform: uppercase;
}
.button-wrapper {
  width: auto;
  display: inline-block;
  background-color: #1976D2;
  border-radius: 4px;
  transition: background-color 500ms ease;
  padding: 8px;
}
.button-wrapper:hover {
  background-color: #145ca4;
  transition: background-color 500ms ease;
}
.button-wrapper:active {
  background-color: #0e4377;
  transition: background-color 500ms ease;
}
